<a href="https://colab.research.google.com/github/AIML2435/2435_STAT-MLasssignments/blob/main/SML_assgn_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question1 :
From the above data:

1.Read the data with pandas and find features and target variables
2.Normalize the data with min-max scaling
3.Split the data into train and test.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
d=pd.read_csv('/content/train.csv')
print(d)

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0               842     0          2.2         0   1       0           7
1              1021     1          0.5         1   0       1          53
2               563     1          0.5         1   2       1          41
3               615     1          2.5         0   0       0          10
4              1821     1          1.2         0  13       1          44
...             ...   ...          ...       ...  ..     ...         ...
1995            794     1          0.5         1   0       1           2
1996           1965     1          2.6         1   0       0          39
1997           1911     0          0.9         1   1       1          36
1998           1512     0          0.9         0   4       1          46
1999            510     1          2.0         1   5       1          45

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
0       0.6        188        2  ...         20       756  2549     9     7
1       0.7        136        3  ...        905      1988  2631    17     3
2       0.9        145        5  ...       1263      1716  2603    11     2
3       0.8        131        6  ...       1216      1786  2769    16     8
4       0.6        141        2  ...       1208      1212  1411     8     2
...     ...        ...      ...  ...        ...       ...   ...   ...   ...
1995    0.8        106        6  ...       1222      1890   668    13     4
1996    0.2        187        4  ...        915      1965  2032    11    10
1997    0.7        108        8  ...        868      1632  3057     9     1
1998    0.1        145        5  ...        336       670   869    18    10
1999    0.9        168        6  ...        483       754  3919    19     4

      talk_time  three_g  touch_screen  wifi  price_range
0            19        0             0     1            1
1             7        1             1     0            2
2             9        1             1     0            2
3            11        1             0     0            2
4            15        1             1     0            1
...         ...      ...           ...   ...          ...
1995         19        1             1     0            0
1996         16        1             1     1            2
1997          5        1             1     0            3
1998         19        1             1     1            0
1999          2        1             1     1            3

[2000 rows x 21 columns]

In [ ]:
y=d['price_range']
print(y)

0       1
1       2
2       2
3       2
4       1
       ..
1995    0
1996    2
1997    3
1998    0
1999    3
Name: price_range, Length: 2000, dtype: int64

In [ ]:
x=d.drop('price_range',axis=1)
print(x)

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0               842     0          2.2         0   1       0           7
1              1021     1          0.5         1   0       1          53
2               563     1          0.5         1   2       1          41
3               615     1          2.5         0   0       0          10
4              1821     1          1.2         0  13       1          44
...             ...   ...          ...       ...  ..     ...         ...
1995            794     1          0.5         1   0       1           2
1996           1965     1          2.6         1   0       0          39
1997           1911     0          0.9         1   1       1          36
1998           1512     0          0.9         0   4       1          46
1999            510     1          2.0         1   5       1          45

      m_dep  mobile_wt  n_cores  pc  px_height  px_width   ram  sc_h  sc_w  \
0       0.6        188        2   2         20       756  2549     9     7
1       0.7        136        3   6        905      1988  2631    17     3
2       0.9        145        5   6       1263      1716  2603    11     2
3       0.8        131        6   9       1216      1786  2769    16     8
4       0.6        141        2  14       1208      1212  1411     8     2
...     ...        ...      ...  ..        ...       ...   ...   ...   ...
1995    0.8        106        6  14       1222      1890   668    13     4
1996    0.2        187        4   3        915      1965  2032    11    10
1997    0.7        108        8   3        868      1632  3057     9     1
1998    0.1        145        5   5        336       670   869    18    10
1999    0.9        168        6  16        483       754  3919    19     4

      talk_time  three_g  touch_screen  wifi
0            19        0             0     1
1             7        1             1     0
2             9        1             1     0
3            11        1             0     0
4            15        1             1     0
...         ...      ...           ...   ...
1995         19        1             1     0
1996         16        1             1     1
1997          5        1             1     0
1998         19        1             1     1
1999          2        1             1     1

[2000 rows x 20 columns]

In [ ]:
df=d-d.min()/(d.max()-d.min())
print(df)

      battery_power  blue  clock_speed  dual_sim    fc  four_g  int_memory  \
0        841.665331   0.0          2.0       0.0   1.0     0.0    6.967742
1       1020.665331   1.0          0.3       1.0   0.0     1.0   52.967742
2        562.665331   1.0          0.3       1.0   2.0     1.0   40.967742
3        614.665331   1.0          2.3       0.0   0.0     0.0    9.967742
4       1820.665331   1.0          1.0       0.0  13.0     1.0   43.967742
...             ...   ...          ...       ...   ...     ...         ...
1995     793.665331   1.0          0.3       1.0   0.0     1.0    1.967742
1996    1964.665331   1.0          2.4       1.0   0.0     0.0   38.967742
1997    1910.665331   0.0          0.7       1.0   1.0     1.0   35.967742
1998    1511.665331   0.0          0.7       0.0   4.0     1.0   45.967742
1999     509.665331   1.0          1.8       1.0   5.0     1.0   44.967742

         m_dep   mobile_wt   n_cores  ...  px_height     px_width  \
0     0.488889  187.333333  1.857143  ...       20.0   755.666222
1     0.588889  135.333333  2.857143  ...      905.0  1987.666222
2     0.788889  144.333333  4.857143  ...     1263.0  1715.666222
3     0.688889  130.333333  5.857143  ...     1216.0  1785.666222
4     0.488889  140.333333  1.857143  ...     1208.0  1211.666222
...        ...         ...       ...  ...        ...          ...
1995  0.688889  105.333333  5.857143  ...     1222.0  1889.666222
1996  0.088889  186.333333  3.857143  ...      915.0  1964.666222
1997  0.588889  107.333333  7.857143  ...      868.0  1631.666222
1998 -0.011111  144.333333  4.857143  ...      336.0   669.666222
1999  0.788889  167.333333  5.857143  ...      483.0   753.666222

              ram       sc_h  sc_w  talk_time  three_g  touch_screen  wifi  \
0     2548.931587   8.642857   7.0  18.888889      0.0           0.0   1.0
1     2630.931587  16.642857   3.0   6.888889      1.0           1.0   0.0
2     2602.931587  10.642857   2.0   8.888889      1.0           1.0   0.0
3     2768.931587  15.642857   8.0  10.888889      1.0           0.0   0.0
4     1410.931587   7.642857   2.0  14.888889      1.0           1.0   0.0
...           ...        ...   ...        ...      ...           ...   ...
1995   667.931587  12.642857   4.0  18.888889      1.0           1.0   0.0
1996  2031.931587  10.642857  10.0  15.888889      1.0           1.0   1.0
1997  3056.931587   8.642857   1.0   4.888889      1.0           1.0   0.0
1998   868.931587  17.642857  10.0  18.888889      1.0           1.0   1.0
1999  3918.931587  18.642857   4.0   1.888889      1.0           1.0   1.0

      price_range
0             1.0
1             2.0
2             2.0
3             2.0
4             1.0
...           ...
1995          0.0
1996          2.0
1997          3.0
1998          0.0
1999          3.0

[2000 rows x 21 columns]

In [ ]:
df=x-x.min()/(x.max()-x.min())
print(df)

      battery_power  blue  clock_speed  dual_sim    fc  four_g  int_memory  \
0        841.665331   0.0          2.0       0.0   1.0     0.0    6.967742
1       1020.665331   1.0          0.3       1.0   0.0     1.0   52.967742
2        562.665331   1.0          0.3       1.0   2.0     1.0   40.967742
3        614.665331   1.0          2.3       0.0   0.0     0.0    9.967742
4       1820.665331   1.0          1.0       0.0  13.0     1.0   43.967742
...             ...   ...          ...       ...   ...     ...         ...
1995     793.665331   1.0          0.3       1.0   0.0     1.0    1.967742
1996    1964.665331   1.0          2.4       1.0   0.0     0.0   38.967742
1997    1910.665331   0.0          0.7       1.0   1.0     1.0   35.967742
1998    1511.665331   0.0          0.7       0.0   4.0     1.0   45.967742
1999     509.665331   1.0          1.8       1.0   5.0     1.0   44.967742

         m_dep   mobile_wt   n_cores    pc  px_height     px_width  \
0     0.488889  187.333333  1.857143   2.0       20.0   755.666222
1     0.588889  135.333333  2.857143   6.0      905.0  1987.666222
2     0.788889  144.333333  4.857143   6.0     1263.0  1715.666222
3     0.688889  130.333333  5.857143   9.0     1216.0  1785.666222
4     0.488889  140.333333  1.857143  14.0     1208.0  1211.666222
...        ...         ...       ...   ...        ...          ...
1995  0.688889  105.333333  5.857143  14.0     1222.0  1889.666222
1996  0.088889  186.333333  3.857143   3.0      915.0  1964.666222
1997  0.588889  107.333333  7.857143   3.0      868.0  1631.666222
1998 -0.011111  144.333333  4.857143   5.0      336.0   669.666222
1999  0.788889  167.333333  5.857143  16.0      483.0   753.666222

              ram       sc_h  sc_w  talk_time  three_g  touch_screen  wifi
0     2548.931587   8.642857   7.0  18.888889      0.0           0.0   1.0
1     2630.931587  16.642857   3.0   6.888889      1.0           1.0   0.0
2     2602.931587  10.642857   2.0   8.888889      1.0           1.0   0.0
3     2768.931587  15.642857   8.0  10.888889      1.0           0.0   0.0
4     1410.931587   7.642857   2.0  14.888889      1.0           1.0   0.0
...           ...        ...   ...        ...      ...           ...   ...
1995   667.931587  12.642857   4.0  18.888889      1.0           1.0   0.0
1996  2031.931587  10.642857  10.0  15.888889      1.0           1.0   1.0
1997  3056.931587   8.642857   1.0   4.888889      1.0           1.0   0.0
1998   868.931587  17.642857  10.0  18.888889      1.0           1.0   1.0
1999  3918.931587  18.642857   4.0   1.888889      1.0           1.0   1.0

[2000 rows x 20 columns]

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df,y,test_size=0.2,random_state=30)
print(x_train)
print(x_test)
print(y_train)
print(y_test)

1572    2.0
1442    1.0
1516    1.0
259     3.0
945     3.0
       ...
500     0.0
1837    1.0
941     0.0
421     2.0
1829    0.0
Name: price_range, Length: 1600, dtype: float64
1856    3.0
364     0.0
1948    1.0
1458    1.0
609     2.0
       ...
1163    2.0
572     3.0
1105    0.0
1903    2.0
481     3.0
Name: price_range, Length: 400, dtype: float64
1572    2
1442    1
1516    1
259     3
945     3
       ..
500     0
1837    1
941     0
421     2
1829    0
Name: price_range, Length: 1600, dtype: int64
1856    3
364     0
1948    1
1458    1
609     2
       ..
1163    2
572     3
1105    0
1903    2
481     3
Name: price_range, Length: 400, dtype: int64

Question 2:
Download the dataset from the above link.

1.Read the data with pandas and describe the data
2.Find data type and shape of each column
3.Find the target and features
4.Find the null values (if yes fill the null values with ‘0’ or mean of that column)
5.Normalize all the features
6.Split the data into train and test.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
d=pd.read_csv('/content/housing.csv')
print(d)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                41.0        880.0           129.0
1        -122.22     37.86                21.0       7099.0          1106.0
2        -122.24     37.85                52.0       1467.0           190.0
3        -122.25     37.85                52.0       1274.0           235.0
4        -122.25     37.85                52.0       1627.0           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                25.0       1665.0           374.0
20636    -121.21     39.49                18.0        697.0           150.0
20637    -121.22     39.43                17.0       2254.0           485.0
20638    -121.32     39.43                18.0       1860.0           409.0
20639    -121.24     39.37                16.0       2785.0           616.0

       population  households  median_income  median_house_value  \
0           322.0       126.0         8.3252            452600.0
1          2401.0      1138.0         8.3014            358500.0
2           496.0       177.0         7.2574            352100.0
3           558.0       219.0         5.6431            341300.0
4           565.0       259.0         3.8462            342200.0
...           ...         ...            ...                 ...
20635       845.0       330.0         1.5603             78100.0
20636       356.0       114.0         2.5568             77100.0
20637      1007.0       433.0         1.7000             92300.0
20638       741.0       349.0         1.8672             84700.0
20639      1387.0       530.0         2.3886             89400.0

      ocean_proximity
0            NEAR BAY
1            NEAR BAY
2            NEAR BAY
3            NEAR BAY
4            NEAR BAY
...               ...
20635          INLAND
20636          INLAND
20637          INLAND
20638          INLAND
20639          INLAND

[20640 rows x 10 columns]

In [ ]:
y=d['median_house_value']
print(y)

0        452600.0
1        358500.0
2        352100.0
3        341300.0
4        342200.0
           ...
20635     78100.0
20636     77100.0
20637     92300.0
20638     84700.0
20639     89400.0
Name: median_house_value, Length: 20640, dtype: float64

In [ ]:
x=d.drop('median_house_value',axis=1)
x=x.drop('ocean_proximity',axis=1)
print(x)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                41.0        880.0           129.0
1        -122.22     37.86                21.0       7099.0          1106.0
2        -122.24     37.85                52.0       1467.0           190.0
3        -122.25     37.85                52.0       1274.0           235.0
4        -122.25     37.85                52.0       1627.0           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                25.0       1665.0           374.0
20636    -121.21     39.49                18.0        697.0           150.0
20637    -121.22     39.43                17.0       2254.0           485.0
20638    -121.32     39.43                18.0       1860.0           409.0
20639    -121.24     39.37                16.0       2785.0           616.0

       population  households  median_income
0           322.0       126.0         8.3252
1          2401.0      1138.0         8.3014
2           496.0       177.0         7.2574
3           558.0       219.0         5.6431
4           565.0       259.0         3.8462
...           ...         ...            ...
20635       845.0       330.0         1.5603
20636       356.0       114.0         2.5568
20637      1007.0       433.0         1.7000
20638       741.0       349.0         1.8672
20639      1387.0       530.0         2.3886

[20640 rows x 8 columns]

In [ ]:
x.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
dtype: object

In [ ]:
y.dtypes

dtype('float64')

In [ ]:
d.shape[0]

20640

In [ ]:
xisnull=x.isnull()
print(x)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                41.0        880.0           129.0
1        -122.22     37.86                21.0       7099.0          1106.0
2        -122.24     37.85                52.0       1467.0           190.0
3        -122.25     37.85                52.0       1274.0           235.0
4        -122.25     37.85                52.0       1627.0           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                25.0       1665.0           374.0
20636    -121.21     39.49                18.0        697.0           150.0
20637    -121.22     39.43                17.0       2254.0           485.0
20638    -121.32     39.43                18.0       1860.0           409.0
20639    -121.24     39.37                16.0       2785.0           616.0

       population  households  median_income
0           322.0       126.0         8.3252
1          2401.0      1138.0         8.3014
2           496.0       177.0         7.2574
3           558.0       219.0         5.6431
4           565.0       259.0         3.8462
...           ...         ...            ...
20635       845.0       330.0         1.5603
20636       356.0       114.0         2.5568
20637      1007.0       433.0         1.7000
20638       741.0       349.0         1.8672
20639      1387.0       530.0         2.3886

[20640 rows x 8 columns]

In [ ]:
yisnull=y.isnull()
print(y)

0        452600.0
1        358500.0
2        352100.0
3        341300.0
4        342200.0
           ...
20635     78100.0
20636     77100.0
20637     92300.0
20638     84700.0
20639     89400.0
Name: median_house_value, Length: 20640, dtype: float64

In [ ]:
df=x-x.min()/(x.max()-x.min())
print(df)

        longitude   latitude  housing_median_age  total_rooms  total_bedrooms  \
0     -109.844542  34.421977           40.980392   879.999949      128.999845
1     -109.834542  34.401977           20.980392  7098.999949     1105.999845
2     -109.854542  34.391977           51.980392  1466.999949      189.999845
3     -109.864542  34.391977           51.980392  1273.999949      234.999845
4     -109.864542  34.391977           51.980392  1626.999949      279.999845
...           ...        ...                 ...          ...             ...
20635 -108.704542  36.021977           24.980392  1664.999949      373.999845
20636 -108.824542  36.031977           17.980392   696.999949      149.999845
20637 -108.834542  35.971977           16.980392  2253.999949      484.999845
20638 -108.934542  35.971977           17.980392  1859.999949      408.999845
20639 -108.854542  35.911977           15.980392  2784.999949      615.999845

        population   households  median_income
0       321.999916   125.999836       8.290725
1      2400.999916  1137.999836       8.266925
2       495.999916   176.999836       7.222925
3       557.999916   218.999836       5.608625
4       564.999916   258.999836       3.811725
...            ...          ...            ...
20635   844.999916   329.999836       1.525825
20636   355.999916   113.999836       2.522325
20637  1006.999916   432.999836       1.665525
20638   740.999916   348.999836       1.832725
20639  1386.999916   529.999836       2.354125

[20640 rows x 8 columns]

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df,y,test_size=0.2,random_state=30)
print(x_train)
print(x_test)
print(y_train)
print(y_test)

        longitude   latitude  housing_median_age   total_rooms  \
7186  -105.794542  30.571977           38.980392    608.999949
7686  -105.714542  30.471977           34.980392   1621.999949
6332  -105.564542  30.531977           23.980392   1218.999949
14192 -104.684542  29.231977           19.980392   2191.999949
6611  -105.724542  30.721977           51.980392   3570.999949
...           ...        ...                 ...           ...
500   -109.884542  34.391977           51.980392   1973.999949
12077 -105.254542  30.411977            1.980392  17469.999949
15277 -104.954542  29.601977           16.980392   2717.999949
4517  -105.814542  30.581977           43.980392   1398.999949
5925  -105.414542  30.691977           13.980392   7875.999949

       total_bedrooms   population   households  median_income
7186       144.999845   689.999916   133.999836       2.882225
7686       301.999845   844.999916   283.999836       4.542425
6332       176.999845   609.999916   184.999836       6.763325
14192      405.999845  1765.999916   392.999836       4.057625
6611       509.999845  1433.999916   489.999836       5.866425
...               ...          ...          ...            ...
500        425.999845   874.999916   362.999836       1.547225
12077     2726.999845  5963.999916  1984.999836       6.196325
15277      517.999845   814.999916   402.999836       4.283725
4517       385.999845  1418.999916   372.999836       1.787925
5925      1252.999845  3698.999916  1161.999836       5.507825

[16512 rows x 8 columns]
        longitude   latitude  housing_median_age  total_rooms  total_bedrooms  \
19449 -108.644542  34.221977           19.980392  3203.999949      624.999845
10452 -105.274542  30.001977           25.980392  2072.999949      369.999845
18982 -109.624542  34.801977           11.980392  4131.999949      709.999845
8187  -105.724542  30.321977           15.980392  3984.999949      566.999845
15759 -110.054542  34.311977           51.980392  2993.999949      735.999845
...           ...        ...                 ...          ...             ...
12704 -109.024542  35.121977           17.980392  6954.999949     1881.999845
18742 -109.954542  37.111977           25.980392  2186.999949      471.999845
19142 -110.304542  34.861977           14.980392  2535.999949      413.999845
1027  -108.164542  35.001977           15.980392  1442.999949      248.999845
17830 -109.464542  33.951977           24.980392  1836.999949      277.999845

        population   households  median_income
19449  2015.999916   604.999836       2.622225
10452   951.999916   339.999836       5.053225
18982  2086.999916   632.999836       4.564225
8187   1326.999916   563.999836       7.942225
15759  1427.999916   699.999836       3.042125
...            ...          ...            ...
12704  2802.999916  1739.999836       3.054525
18742  1338.999916   462.999836       2.005025
19142  1399.999916   425.999836       5.626825
1027    434.999916   180.999836       3.168625
17830  1005.999916   270.999836       6.649725

[4128 rows x 8 columns]
7186     145800.0
7686     186100.0
6332     325000.0
14192    135000.0
6611     376000.0
           ...
500      153600.0
12077    257900.0
15277    357100.0
4517     143800.0
5925     248700.0
Name: median_house_value, Length: 16512, dtype: float64
19449    110400.0
10452    288100.0
18982    139700.0
8187     500001.0
15759    438900.0
           ...
12704    141400.0
18742     67900.0
19142    172400.0
1027     129200.0
17830    265300.0
Name: median_house_value, Length: 4128, dtype: float64